/* line 138, sprite/*.png */
.sprite-sprite {
  background: url('../images/sprite-s241d396fe0.png') no-repeat;
}

/* line 138, sprite2x/*.png */
.sprite2x-sprite {
  background: url('../images/sprite2x-sa5e23fcb91.png') no-repeat;
}

/* line 1, ../sass/_icons.scss */
.arrown-left-store {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 17px;
  width: 12px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 1, ../sass/_icons.scss */
  .arrown-left-store {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -20px;
    height: 17px;
    width: 12px;
  }
}

/* line 1, ../sass/pages/_homepage.scss */
body {
  font-family: "'Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* line 6, ../sass/pages/_homepage.scss */
body.cms-index-index .main,
body.cms-index-defaultindex .main {
  padding-top: 0;
}

/* line 10, ../sass/pages/_homepage.scss */
.wrapper {
  border-top-color: #ed1c24;
}

/* line 14, ../sass/pages/_homepage.scss */
.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a {
  background-color: transparent;
  border-bottom: solid 2px #ed1c24;
  color: #ed1c24;
}

/* line 20, ../sass/pages/_homepage.scss */
#nav, .vertnav-top {
  border: none;
}

/* line 24, ../sass/pages/_homepage.scss */
#nav > li:hover > a, .vertnav-top li > a:hover {
  background-color: transparent;
  border-bottom: solid 2px #ed1c24;
  color: #ed1c24;
}

/* line 30, ../sass/pages/_homepage.scss */
#nav > li > a, #mobnav-trigger {
  font-size: 14px;
  font-weight: 700;
}

/* line 35, ../sass/pages/_homepage.scss */
#nav ul li a:hover {
  color: #ed1c24;
}

/* line 39, ../sass/pages/_homepage.scss */
#nav > li.parent:hover > a .caret {
  border-top-color: black;
}

/* line 43, ../sass/pages/_homepage.scss */
.links > li > a:hover {
  background-color: black;
}

/* line 47, ../sass/pages/_homepage.scss */
a:hover, .vertnav-side li.current > a {
  color: #0e0e0e;
}

/* line 51, ../sass/pages/_homepage.scss */
.price-box .regular-price .price, .price-box .minimal-price .price {
  color: black;
}

/* line 55, ../sass/pages/_homepage.scss */
#nav, .vertnav-top li a {
  background-color: transparent;
}

/* line 59, ../sass/pages/_homepage.scss */
.main-font, h1, h2, h3, h4, h5, .section-title, .products-list .product-name, .products-grid .product-name, h3.product-name, .feature .heading, .accordion .heading, #mobnav-trigger, #nav > li > a, #nav.wide ul.level0 > li > a, .vertnav-top li a, .block .block-title, #opc-login h3, .box-account .box-head h2, .order-items h2.table-caption, .order-items h2.sub-title, .order-items .order-comments h2, .product-view .box-reviews dt .heading, .gen-tabs .tabs a, .footer .heading, #subscribe-form label, .caption .heading {
  font-family: "'Roboto Condensed", Helvetica, Arial, sans-serif;
}

/* line 63, ../sass/pages/_homepage.scss */
.sticker {
  width: 40px;
  height: 40px;
  font-size: 14px;
}

/* line 69, ../sass/pages/_homepage.scss */
.item:hover .sticker {
  width: 50px;
  height: 50px;
}

/* line 74, ../sass/pages/_homepage.scss */
.footer span.icon {
  background-color: black;
}

/* line 78, ../sass/pages/_homepage.scss */
.footer-bottom-container {
  background-color: black;
}

/* line 82, ../sass/pages/_homepage.scss */
.nav-container {
  border-bottom: solid 2px #222222;
}

/* line 86, ../sass/pages/_homepage.scss */
#nav > li {
  margin-bottom: -7px;
}

/* line 90, ../sass/pages/_homepage.scss */
.gen-tabs .tabs a {
  background-color: #fcfcfc;
}

/* line 94, ../sass/pages/_homepage.scss */
button.button span {
  text-transform: uppercase;
}

/* line 97, ../sass/pages/_homepage.scss */
button.button:hover span {
  background-color: black;
  text-transform: uppercase;
}

/* line 104, ../sass/pages/_homepage.scss */
.action-box .add-to-links li:nth-child(2) {
  display: none;
}

/* line 3, ../sass/pages/_shared-social.scss */
.sharing-social {
  display: block !important;
  position: absolute;
  right: 20px;
  top: -40px;
}
/* line 15, ../sass/bootstrap/mixins/_clearfix.scss */
.sharing-social:before, .sharing-social:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.sharing-social:after {
  clear: both;
}
@media (max-width: 767px) {
  /* line 3, ../sass/pages/_shared-social.scss */
  .sharing-social {
    position: static;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* line 14, ../sass/pages/_shared-social.scss */
.sharing-social > span {
  float: left;
  display: block !important;
  margin-right: 20px;
  cursor: pointer;
}
/* line 20, ../sass/pages/_shared-social.scss */
.sharing-social a {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}
/* line 25, ../sass/pages/_shared-social.scss */
.sharing-social .custom_facebook {
  width: 9px;
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 9px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 25, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_facebook {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -237px;
    height: 20px;
    width: 9px;
  }
}
/* line 28, ../sass/pages/_shared-social.scss */
.sharing-social .custom_facebook:hover {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 9px;
  vertical-align: middle;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 28, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_facebook:hover {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -217px;
    height: 20px;
    width: 9px;
  }
}
/* line 32, ../sass/pages/_shared-social.scss */
.sharing-social .custom_facebook span {
  background: none !important;
  width: 9px;
}
/* line 37, ../sass/pages/_shared-social.scss */
.sharing-social .custom_twitter {
  width: 25px;
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -77px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 25px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 37, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_twitter {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -117px;
    height: 20px;
    width: 25px;
  }
}
/* line 40, ../sass/pages/_shared-social.scss */
.sharing-social .custom_twitter:hover {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -117px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 25px;
  vertical-align: middle;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 40, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_twitter:hover {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -97px;
    height: 20px;
    width: 25px;
  }
}
/* line 44, ../sass/pages/_shared-social.scss */
.sharing-social .custom_twitter span {
  background: none !important;
  width: 25px;
}
/* line 49, ../sass/pages/_shared-social.scss */
.sharing-social .custom_pinterest {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -57px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 16px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 49, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_pinterest {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -137px;
    height: 20px;
    width: 16px;
  }
}
/* line 52, ../sass/pages/_shared-social.scss */
.sharing-social .custom_pinterest:hover {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -97px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 16px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 52, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_pinterest:hover {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -157px;
    height: 20px;
    width: 16px;
  }
}
/* line 56, ../sass/pages/_shared-social.scss */
.sharing-social .custom_pinterest span {
  background: none !important;
  width: 20px;
}
/* line 61, ../sass/pages/_shared-social.scss */
.sharing-social .custom_tumblr {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -177px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 12px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 61, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_tumblr {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -197px;
    height: 20px;
    width: 12px;
  }
}
/* line 64, ../sass/pages/_shared-social.scss */
.sharing-social .custom_tumblr:hover {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -197px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 12px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 64, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_tumblr:hover {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -177px;
    height: 20px;
    width: 12px;
  }
}
/* line 68, ../sass/pages/_shared-social.scss */
.sharing-social .custom_tumblr span {
  background: none !important;
  width: 20px;
}
/* line 73, ../sass/pages/_shared-social.scss */
.sharing-social .custom_google {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -17px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 73, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_google {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -77px;
    height: 20px;
    width: 20px;
  }
}
/* line 76, ../sass/pages/_shared-social.scss */
.sharing-social .custom_google:hover {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -37px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 76, ../sass/pages/_shared-social.scss */
  .sharing-social .custom_google:hover {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -57px;
    height: 20px;
    width: 20px;
  }
}
/* line 80, ../sass/pages/_shared-social.scss */
.sharing-social .custom_google span {
  background: none !important;
  width: 20px;
}
/* line 85, ../sass/pages/_shared-social.scss */
.sharing-social .feature {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -137px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 26px;
  vertical-align: middle;
  width: 20px;
  margin-top: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 85, ../sass/pages/_shared-social.scss */
  .sharing-social .feature {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 0;
    height: 20px;
    width: 26px;
  }
}
/* line 89, ../sass/pages/_shared-social.scss */
.sharing-social .feature:hover {
  background-image: url('../images/sprite-sb9da46ba0b.png');
  background-position: 0 -157px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 26px;
  vertical-align: middle;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 89, ../sass/pages/_shared-social.scss */
  .sharing-social .feature:hover {
    background-image: url('../images/sprite2x-s32058b74dc.png');
    background-size: 26px 257px;
    background-position: 0 -37px;
    height: 20px;
    width: 26px;
  }
}
/* line 93, ../sass/pages/_shared-social.scss */
.sharing-social .feature span {
  background: none !important;
  width: 20px;
}
