/* line 42, sprite/*.png */
.sprite-sprite {
  background: url('../images/sprite-s26ae7ff5ec.png') no-repeat;
}

/* line 42, sprite2x/*.png */
.sprite2x-sprite {
  background: url('../images/sprite2x-se6672ed1fa.png') no-repeat;
}

/* line 1, ../sass/_icons.scss */
.arrown-left-store {
  background-image: url('../images/sprite-s7cf276b449.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 17px;
  width: 12px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 1, ../sass/_icons.scss */
  .arrown-left-store {
    background-image: url('../images/sprite2x-sdff3a8baf3.png');
    background-size: 12px 17px;
    background-position: 0 0;
    height: 17px;
    width: 12px;
  }
}

/* line 1, ../sass/pages/_homepage.scss */
body {
  font-family: "'Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* line 6, ../sass/pages/_homepage.scss */
body.cms-index-index .main,
body.cms-index-defaultindex .main {
  padding-top: 0;
}

/* line 10, ../sass/pages/_homepage.scss */
.wrapper {
  border-top-color: #ed1c24;
}

/* line 14, ../sass/pages/_homepage.scss */
.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a {
  background-color: transparent;
  border-bottom: solid 2px #ed1c24;
  color: #ed1c24;
}

/* line 20, ../sass/pages/_homepage.scss */
#nav, .vertnav-top {
  border: none;
}

/* line 24, ../sass/pages/_homepage.scss */
#nav > li:hover > a, .vertnav-top li > a:hover {
  background-color: transparent;
  border-bottom: solid 2px #ed1c24;
  color: #ed1c24;
}

/* line 30, ../sass/pages/_homepage.scss */
#nav > li > a, #mobnav-trigger {
  font-size: 14px;
  font-weight: 700;
}

/* line 35, ../sass/pages/_homepage.scss */
#nav ul li a:hover {
  color: #ed1c24;
}

/* line 39, ../sass/pages/_homepage.scss */
#nav > li.parent:hover > a .caret {
  border-top-color: black;
}

/* line 43, ../sass/pages/_homepage.scss */
.links > li > a:hover {
  background-color: black;
}

/* line 47, ../sass/pages/_homepage.scss */
a:hover, .vertnav-side li.current > a {
  color: #0e0e0e;
}

/* line 51, ../sass/pages/_homepage.scss */
.price-box .regular-price .price, .price-box .minimal-price .price {
  color: black;
}

/* line 55, ../sass/pages/_homepage.scss */
#nav, .vertnav-top li a {
  background-color: transparent;
}

/* line 59, ../sass/pages/_homepage.scss */
.main-font, h1, h2, h3, h4, h5, .section-title, .products-list .product-name, .products-grid .product-name, h3.product-name, .feature .heading, .accordion .heading, #mobnav-trigger, #nav > li > a, #nav.wide ul.level0 > li > a, .vertnav-top li a, .block .block-title, #opc-login h3, .box-account .box-head h2, .order-items h2.table-caption, .order-items h2.sub-title, .order-items .order-comments h2, .product-view .box-reviews dt .heading, .gen-tabs .tabs a, .footer .heading, #subscribe-form label, .caption .heading {
  font-family: "'Roboto Condensed", Helvetica, Arial, sans-serif;
}

/* line 63, ../sass/pages/_homepage.scss */
.sticker {
  width: 40px;
  height: 40px;
  font-size: 14px;
}

/* line 69, ../sass/pages/_homepage.scss */
.item:hover .sticker {
  width: 50px;
  height: 50px;
}

/* line 74, ../sass/pages/_homepage.scss */
.footer span.icon {
  background-color: black;
}

/* line 78, ../sass/pages/_homepage.scss */
.footer-bottom-container {
  background-color: black;
}

/* line 82, ../sass/pages/_homepage.scss */
.nav-container {
  border-bottom: solid 2px #222222;
}

/* line 86, ../sass/pages/_homepage.scss */
#nav > li {
  margin-bottom: -7px;
}

/* line 90, ../sass/pages/_homepage.scss */
.gen-tabs .tabs a {
  background-color: #fcfcfc;
}

/* line 94, ../sass/pages/_homepage.scss */
button.button span {
  text-transform: uppercase;
}

/* line 97, ../sass/pages/_homepage.scss */
button.button:hover span {
  background-color: black;
  text-transform: uppercase;
}
