body {
	font-family: $font-family-base;
	font-size: $font-size-base;
}
body.cms-index-index .main,
body.cms-index-defaultindex .main {
	padding-top: 0;
}

.wrapper {
	border-top-color: $c-red;
}

.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a {
	background-color: $c-transparent;
	border-bottom: solid 2px $c-red;
	color: $c-red;
}

#nav, .vertnav-top {
	border: none;
}

#nav > li:hover > a, .vertnav-top li > a:hover {
	background-color: $c-transparent;
	border-bottom: solid 2px $c-red;
	color: $c-red;
}

#nav > li > a, #mobnav-trigger {
	font-size: $font-size-base;
	font-weight: 700;
}

#nav ul li a:hover {
	color: $c-red;
}

#nav > li.parent:hover > a .caret {
	border-top-color: $c-theme;
}

.links > li > a:hover {
	background-color: $c-theme;
}

a:hover, .vertnav-side li.current > a {
	color: $c-hover;
}

.price-box .regular-price .price, .price-box .minimal-price .price {
	color: $c-theme;
}

#nav, .vertnav-top li a {
	background-color: $c-transparent;
}

.main-font, h1, h2, h3, h4, h5, .section-title, .products-list .product-name, .products-grid .product-name, h3.product-name, .feature .heading, .accordion .heading, #mobnav-trigger, #nav > li > a, #nav.wide ul.level0 > li > a, .vertnav-top li a, .block .block-title, #opc-login h3, .box-account .box-head h2, .order-items h2.table-caption, .order-items h2.sub-title, .order-items .order-comments h2, .product-view .box-reviews dt .heading, .gen-tabs .tabs a, .footer .heading, #subscribe-form label, .caption .heading {
	font-family: $font-family-base;
}

.sticker {
	width: 40px;
	height: 40px;
	font-size: $font-size-base;
}

.item:hover .sticker {
	width: 50px;
	height: 50px;
}

.footer span.icon {
	background-color: $c-theme;
}

.footer-bottom-container {
	background-color: $c-theme;
}

.nav-container {
  border-bottom: solid 2px lighten($c-theme, 13.5%);
}

#nav > li {
  margin-bottom: -7px;
}

.gen-tabs .tabs a {
	background-color: $c-tab;
}

button.button span {
	text-transform: uppercase;
}
button.button:hover span {
	background-color: $c-theme;
	text-transform: uppercase;
}

.action-box {
	.add-to-links {
		li:nth-child(2) {
			display: none;
		}
	}
}