
//ADDTHIS
.sharing-social{
    @include clearfix;
    display: block !important;
    position: absolute;
    right: 20px;
    top: -40px;
    @media (max-width: $screen-xs-max) {
        position: static;
        margin-bottom: 20px;
        text-align: center;
    }
    &> span {
        float: left;
        display: block !important;
        margin-right: 20px;
        cursor: pointer;
    }
    a {
        float: left;
        margin-right: 15px;
        cursor: pointer;
    }
    .custom_facebook {
        width: 20px;
        @include use-sprite('fb');
        &:hover {
            @include use-sprite('fb-hv');
            width: 20px;
        }
        span {
            background: none !important;
            width: 20px;
        }
    }
    .custom_twitter {
        width: 20px;
        @include use-sprite('twitter');
        &:hover {
            @include use-sprite('twitter-hv');
            width: 20px;
        }
        span {
            background: none !important;
            width: 20px;
        }
    }
    .custom_pinterest {
        @include use-sprite('pinterest');
        width: 20px;
        &:hover {
            @include use-sprite('pinterest-hv');
            width: 20px;
        }
        span {
            background: none !important;
            width: 20px;
        }
    }
    .custom_tumblr {
        @include use-sprite('tumblr');
        width: 20px;
        &:hover {
            @include use-sprite('tumblr-hv');
            width: 20px;
        }
        span {
            background: none !important;
            width: 20px;
        }
    }
    .custom_google {
        @include use-sprite('gplus');
        width: 20px;
        &:hover {
            @include use-sprite('gplus-hv');
            width: 20px;
        }
        span {
            background: none !important;
            width: 20px;
        }
    }
    .feature  {
        @include use-sprite('mail');
        width: 20px;
        margin-top: 0;
        &:hover {
            @include use-sprite('mail-hv');
            width: 20px;
        }
        span {
            background: none !important;
            width: 20px;
        }
    }
}

